@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');


	body {

	    background-color: #fff; /* 화이트 배경 색상 */
	    margin: 0;
	    padding: 0;
	}
	
	.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Gowun Dodum', sans-serif;

    
}
	
	header {
	    background-color: #fff;
	    color: 	#A9A9A9;
	    text-align: center;
	 
	}
	
	h2 {
		color: 	black;
	    margin: 0;
	    text-align: center;
	    padding: 20px;
	}
	
	form {
	    text-align: left;
	    margin: 20px;
	}
	
	select, input, textarea {
	    width: 100%;
	    padding: 10px;
	    margin-bottom: 15px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	}
	
	label {
	    font-weight: bold;
	}
	
	input[type="submit"] {
	    background-color: 	#BC55EF;  /* #BC55EF	*/
	    color: white;
	    border: none;
	    padding: 10px 20px;
	    cursor: pointer;
	    font-family: 'Gowun Dodum', sans-serif;
	}
	
	input[type="submit"]:hover {
	    background-color: #800080;
	    color: white;
	    font-family: 'Gowun Dodum', sans-serif;
	}
